/*---------------------------------
       body start
---------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

/*---------------------------------
       header start
---------------------------------*/
/*--container-top--*/
.container-top {
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    margin: 30px 100px;
    border-radius: 30px;
}

.top-text {
    margin: 111px 24px 111px 106px;
}

.top-text h1 {
    font-size: 3vw;
}

.top-text p {
    font-size: 16px;
}

.button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    padding: 16px 25px;
}

.top-img {
    margin-top: 58px;
    margin-right: 79px;
    width: 100%;
}

/*---------------------------------
       header end
---------------------------------*/

/*---------------------------------
       main start
---------------------------------*/


.section-main {
    display: flex;
    gap: 15px;
    margin: 50px 100px;
}

#box-1 {
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#box-2 {
    flex-wrap: 1;
    width: 75%;
}

.box-player {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.box-button {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
}

.a {
    margin: 20px;
    text-align: center;
}

.color {
    background-color: white;
    color: black;
}

.contant {
    border-radius: 10px;
}


.play {
    width: 100%;
}

span {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

small {
    justify-content: center;
    align-items: flex-start;
    padding: 2px 5px;
}



/*---------------------------------
       footer start
---------------------------------*/
footer {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer h2 {
    text-align: center;
    padding: 10px;
}

.footer h3 {
    display: flex;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    justify-content: space-evenly;
    padding: 0px 10px;
    color: white;
}

/*---------------------------------
        Media Quare
       container-top
---------------------------------*/
/*--tablet--*/
@media only screen and (max-width: 768px) and (min-width: 576px) {
    .container-top {
        background-color: #161616;
        color: white;
        display: flex;
        margin: 5px 15px;
        border-radius: 30px;
    }

    .top-text {
        margin: 61px 5px 61px 76px;
    }

    .top-img img {
        margin-top: 0px;
        margin-right: 19px;
        width: 100%;
    }

    .top-text p {
        font-size: 10px;
    }

    .box-button {
        background-color: white;
    }

    .button {
        text-decoration: none;
        background-color: #DD0000;
        border-radius: 5px;
        padding: 8px 16px;

    }

    .a {
        border: 1px solid whitesmoke;
    }

    .color {
        background-color: white;
        color: black;
    }

    #play-non {
        display: none;
    }



    .vew-all {
        text-decoration: none;
        background-color: #DD0000;
        border-radius: 5px;
        padding: 8px 16px;
        margin-left: 400px;
    }

}

/*--mobile--*/
@media only screen and (max-width: 576px) {
    header {
        align-items: center;
    }

    .container-top {
        background-color: blue;
        color: white;
        display: flex;
        margin: 5px 10px;
        border-radius: 30px;
        flex-direction: column;

    }

    .top-text {
        margin: 8px;
        justify-content: center;
        align-items: center;
    }

    .top-text h1 {
        font-size: 8vw;
        text-align: center;
    }

    .top-text p {
        font-size: 10px;
        text-align: center;
    }

    .top-img {
        max-width: 100%;
    }

    .top-img img {
        width: 100%;
    }

    .top-button {
        text-decoration: none;
        background-color: #DD0000;
        color: white;
        border-radius: 5px;
        padding: 6px 8px;
        text-align: center;
        justify-content: center;
        margin-left: 140px;
    }

    .vew-all {
        display: none;
    }

}

/*---------------------------------
        Media Quare
           main
---------------------------------*/
/*--tablet--*/
@media only screen and (max-width: 768px) and (min-width: 576px) {

    .box-player {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

    }

    .section-main {
        display: flex;
        gap: 12px;
        margin: 40px 20px;
    }

    .section-main {
        display: flex;
        flex-direction: column;

    }

    .box-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contant {
        width: 100%;
    }

    #box-1 {
        width: 100%;
        padding: 10px;
        height: auto;
        border-radius: 10px;

    }

    #box-2 {
        flex-wrap: 1;
        width: 100%;
    }
}


/*--mobile--*/
@media only screen and (max-width: 576px) {
    .box-player {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .section-main {
        display: flex;
        gap: 12px;
        margin: 20px 20px;
    }

    .section-main {
        display: flex;
        flex-direction: column;

    }

    .box-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contant {
        width: 100%;
    }

    #box-1 {
        width: 100%;
        padding: 10px;
        height: auto;
        border-radius: 10px;

    }

    #box-2 {
        flex-wrap: 1;
        width: 100%;
    }

    .color {
        background-color: white;
        color: black;
    }
}

/*---------------------------------
        Media Quare
           footer
---------------------------------*/
/*--tablet--*/
@media only screen and (max-width: 768px) and (min-width: 576px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer h3 {
        padding: 0px 20px;
    }
}

/*--mobile--*/
@media only screen and (max-width: 576px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer h3 {
        justify-content: center;
    }

    .box-player {
        width: 100%;
        justify-content: center;
    }

    #box-2 {
        background-color: white;
    }
}